<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.taskmanager">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon_image_bass"
        android:label="Fish Plot"
        android:roundIcon="@mipmap/icon_image_bass_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TaskManager"
        tools:targetApi="31">
        <activity
            android:name=".dateGraph"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".sortList"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".importExport"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".quickAdd"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".addSpecies"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".createTable"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".viewTable"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".scatterGraph"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".graph"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".graphTest"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".edit_fish"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".delete_task"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view_task"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".edit_task"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".complete_task"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view_fish"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".create_task"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>